################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Salacia_Terminal/.vs
/Salacia_Terminal/out/
/Salacia_Terminal/Salacia_Terminal.slnx
/Salacia_Terminal/.zcode/
/.vs
